<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BBDPPatient</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerificationServlet.java</display-name>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <servlet-class>bbdp.patient.controller.LoginVerificationServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerificationServlet.java</servlet-name>
    <url-pattern>/LoginVerificationServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet.java</display-name>
    <servlet-name>SystemServlet.java</servlet-name>
    <servlet-class>bbdp.patient.controller.SystemServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet.java</servlet-name>
    <url-pattern>/SystemServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet.java</display-name>
    <servlet-name>LogoutServlet.java</servlet-name>
    <servlet-class>bbdp.patient.controller.LogoutServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet.java</servlet-name>
    <url-pattern>/LogoutServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet.java</display-name>
    <servlet-name>SettingServlet.java</servlet-name>
    <servlet-class>bbdp.patient.controller.SettingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet.java</servlet-name>
    <url-pattern>/SettingServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientInstructionServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.PatientInstructionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientInstructionServlet</servlet-name>
    <url-pattern>/PatientInstructionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionnaireServlet</display-name>
    <servlet-name>QuestionnaireServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.QuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionnaireServlet</servlet-name>
    <url-pattern>/QuestionnaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthTrackingServlet.java</display-name>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <servlet-class>bbdp.patient.controller.HealthTrackingServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthTrackingServlet.java</servlet-name>
    <url-pattern>/HealthTrackingServlet.java</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>FamilyServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.FamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyServlet</servlet-name>
    <url-pattern>/FamilyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClinicHoursServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.ClinicHoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicHoursServlet</servlet-name>
    <url-pattern>/ClinicHoursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevisitTimeServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.RevisitTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevisitTimeServlet</servlet-name>
    <url-pattern>/RevisitTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationSettingServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.NotificationSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationSettingServlet</servlet-name>
    <url-pattern>/NotificationSettingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilePictureServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.ProfilePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePictureServlet</servlet-name>
    <url-pattern>/ProfilePictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClinicPushServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.ClinicPushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicPushServlet</servlet-name>
    <url-pattern>/ClinicPushServlet</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.GetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientSuggestionServlet</display-name>
    <servlet-name>PatientSuggestionServlet</servlet-name>
    <servlet-class>bbdp.patient.controller.PatientSuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSuggestionServlet</servlet-name>
    <url-pattern>/PatientSuggestionServlet</url-pattern>
  </servlet-mapping>
	
  <listener>
    <listener-class>bbdp.db.controller.ServletListener</listener-class>
  </listener>

  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>bbdp</param-value>
  </context-param>
  <context-param>
    <param-name>user_name</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>15192353</param-value>
  </context-param>
</web-app>